<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.moviemanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.MasterActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.detail.MovieDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden"
            />

        <activity
            android:name=".ui.detail.MovieDetailEditActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden"
            />

        <activity
            android:name=".ui.detail.PerformerDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden"
            />

        <activity
            android:name=".ui.detail.PerformerDetailEditActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden"
            />

        <activity
            android:name=".ui.search.PerformerSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />

        <activity
            android:name=".ui.search.MovieSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />

        <activity
            android:name=".ui.wiki.query.WikiQueryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />

        <activity
            android:name=".ui.wiki.fetch.WikiFetchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />

        <service android:name=".ui.wiki.query.WikiQueryService"/>

        <service android:name=".ui.wiki.fetch.WikiFetchService"/>
    </application>

</manifest>
